<!doctype html>
<html>

<head>
  <title>Bookmark Your Favorite Books</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet">
  <link href="css/heroic-features.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

</head>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">BOOKMARK</a>
    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>



<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


    <div class="row">


      <div class="col-sm-12">

        <h2>Search books</h2>


        <input id="search" type="text" placeholder="Type book here"
          name="name">
        <button id="searchBtn">Submit</button>
        <section id="bookResults"> </section>



      </div>


    </div>

    <section class="gap"></section>

    <h1>BOOKMARKED BOOKS</h1>

    <div class="row text-center">
      <% for(var i=0; i<books.length; i++) {%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top savedImage"
            src="<%= books[i].image %>" />

          <div class="card-body">
            <h4 class="card-title"><%= books[i].name %></h4>
            <p class="card-text"> by
              <%= books[i].author %></p>
            <button class="btn btn-primary trash">Remove from
              Bookmarks</button>
          </div>


        </div>
      </div>
      <% } %>
    </div>

  </div>






  <!-- LOCAL INFORMATION
  <div class="col-sm-6 btm ">
    <div class="well">
      <h3><span class="fa fa-user"></span> Local</h3>

      <% if (user.local.email) { %>
      <p>
        <strong>id</strong>: <%= user._id %><br>
        <strong>email</strong>: <%= user.local.email %><br>
        <strong>password</strong>: <%= user.local.password %>
      </p>

      <a href="/unlink/local" class="btn btn-default">Unlink</a>
      <% } else { %>
      <a href="/connect/local" class="btn btn-default">Connect
        Local</a>
      <% } %>

    </div>
  </div>
 -->



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <script src="main.js"></script>

</body>

</html>